## AI-Powered Financial Chatbot Prototype  

The chatbot currently responds only to a fixed set of financial queries for selected companies and fiscal years:  

### Supported Questions:
- **What is the total revenue?**  
- **What is the Net Income?**  
- **What is the sum of total assets?**  
- **What is the sum of total liabilities?**  
- **What is cash flow from operating activities?**  
- **What is the revenue growth (%)?**  
- **What is the net income growth (%)?**  
- **What is the assets growth (%)?**  
- **What is the liabilities growth (%)?**  
- **What is the cash flow from operations growth (%)?**  
- **What is the year-by-year average revenue growth rate (%)?**  
- **What is the year-by-year average net income growth rate (%)?**  
- **What is the year-by-year average assets growth rate (%)?**  
- **What is the year-by-year average liabilities growth rate (%)?**  
- **What is the year-by-year average cash flow from operations growth rate (%)?**

In [4]:
import pandas as pd
data = pd.read_csv('final_data_report.csv')
data_2 = pd.read_csv('Summary_final_report.csv')

In [6]:
data

,Unnamed: 0,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,2024,245122,88136,512163,243686,118548,Microsoft,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,2023,211915,72361,411976,205753,87582,Microsoft,-13.547132,-17.898475,-19.561546,-15.566344,-26.121065
2,2,2022,198270,72738,364840,198298,89035,Microsoft,-6.438902,0.520999,-11.441443,-3.623276,1.659017
3,3,2021,168088,61271,333779,191791,76740,Microsoft,-15.222676,-15.764800,-8.513595,-3.281425,-13.809176
4,4,2024,97690,7091,106618,43009,14923,Tesla,0.000000,0.000000,0.000000,0.000000,0.000000
5,5,2023,96773,14974,106618,43009,13256,Tesla,-0.938684,111.169088,0.000000,0.000000,-11.170676
6,6,2022,81462,12556,82338,36440,14724,Tesla,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
7,7,2021,53821,5519,62131,30548,11497,Tesla,-33.931158,-56.044919,-24.541524,-16.169045,-21.916599
8,8,2024,391035,93736,364980,308030,118500,Apple,0.000000,0.000000,0.000000,0.000000,0.000000
9,9,2023,383285,96995,352583,290437,110543,Apple,-1.981920,3.476786,-3.396624,-5.711457,-6.714768
10,10,2022,394328,99803,352755,302083,122151,Apple,2.881146,2.894995,0.048783,4.009820,10.500891
11,11,2021,365817,94680,351002,287912,104038,Apple,-7.230275,-5.133112,-0.496945,-4.691095,-14.828368

In [8]:
print("Year by Year Average Growth from 2021 to 2024")
data_2

Year by Year Average Growth from 2021 to 2024

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,Apple,-1.582762,0.309667,-0.961197,-1.598183,-2.760561
1,1,Microsoft,-8.802178,-8.285569,-9.879146,-5.617761,-9.567806
2,2,Tesla,-12.672851,9.744045,-11.828604,-7.860648,-5.503261

In [14]:
%run AI_driven_Financial_ChatBot_Prototype.ipynb

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  microsoft

The data for the fiscal year 2024, 2023, 2022, and 2021 is currently available

The fiscal year for the selected company :  2024

Please enter your query

 What is the liabilities growth(%) ?

The Liabilities Growth(%) for Microsoft for fiscal year 2024 is 0.0(%)
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  tesla

The data for the fiscal year 2024, 2023, 2022, and 2021 is currently available

The fiscal year for the selected company :  2021

Please enter your query

 What is the sum of total assets?

The sum of Total Assets for Tesla for fiscal year 2021 is $ 62131
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  quit

Enter 'Hi' Properly!!!!! by starting the chatbot session again